<h1>{{title}}</h1>
<a href="/users">[ Users ]</a>
<h2>{{pageName}}</h2>
<p>Hey Cameron, thanks for taking the time to check out this demo. I wanted to show off my skills with Node, Express, and with Sequelize, 
    a JavaScript library for interacting with SQL databases.</p>
<p>I have an AWS RDS database running just for this demo, and the Express web server is 
    hosted on AWS's Elastic Beanstalk.</p>
<p>This front end you are looking at just uses very basic HTML and Javascript, and through 
    Express, I am also using a tool called Handlebars which just makes templating a bit easier. 
    Regardless, the real point of this app is to show what I can do with just a few hours of "back end" web server work and modern tooling.</p>
<p>Click the <b>[ Users ]</b> nav link at the top to see more.</p> 

<br>
<br>

See the code here: <a href="https://github.com/cainenielsen/cameron-demo-pura">https://github.com/cainenielsen/cameron-demo-pura</a>
