<h1>{{title}}</h1>
<a href="/">[ Home ]</a>
<a href="/users/create-user">[ Create User ]</a>
<h2>{{pageName}}</h2>
<ul id='users-list'></ul>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/list-users.js"></script>